/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  //= require_tree  ./validation_issues
*/

/* HEADER */

#valid_header_wrapper {
  background: none repeat scroll 0 0 #222;
  height: 36px;
}

/* BUTTONS */

.button {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    border-radius: .25em;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}

input[type="submit"].button {border: 0;background-color: transparent;color: #888;}
input[type="submit"].button.dark-orange-button {color:#FFF;}
input[type="submit"].button.small-dark-orange-button {color:#FFF;}

.dark-orange-button {
    color: #fef4e9;
    border: solid 1px #db3909;
    background: #c6481a;
    background: -webkit-gradient(linear, left top, left bottom, from(#c8581a), to(#c5441F));
    background: -moz-linear-gradient(top,  #c8581a,  #c5441F);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8581a', endColorstr='#c5441F');
}
.dark-orange-button:hover {
    background: #c4421F;
    background: -webkit-gradient(linear, left top, left bottom, from(#c75114), to(#c23415));
    background: -moz-linear-gradient(top,  #c75114,  #c23415);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c75114', endColorstr='#c23415');
}
.dark-orange-button:active {
    background: #c4421F;
    background: -webkit-gradient(linear, left top, left bottom, from(#c75114), to(#c23415));
    background: -moz-linear-gradient(top,  #c75114,  #c23415);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c75114', endColorstr='#c23415');
}

.small-dark-orange-button {
    font-family:'Century Schoolbook Italic', 'Century Schoolbook', Georgia;
    color: #fef4e9 !important;
    border: solid 1px #db3909;
    background: #c6481a;
    background: -webkit-gradient(linear, left top, left bottom, from(#c9681a), to(#c6451F));
    background: -moz-linear-gradient(top,  #c9681a,  #c6451F);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9681a', endColorstr='#c6451F');
    font-size: 14px;
    font-weight: normal;
    padding: 0.2em 0.7em;
    &.myriad {
      font-family: "MyriadPro","Lucida Sans Unicode", "Lucida Grande", sans-serif;
      padding: 0.7em;
      padding-top: 0.3em;
      padding-bottom: 0.1em;
    }
}
.small-dark-orange-button:hover {
    color: #fff7ef;
    background: #c4421F;
    background: -webkit-gradient(linear, left top, left bottom, from(#c65114), to(#c23415));
    background: -moz-linear-gradient(top,  #c65114,  #c23415);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c65114', endColorstr='#c23415');
}
.small-dark-orange-button:active {
    background: #c4421F;
    background: -webkit-gradient(linear, left top, left bottom, from(#c65114), to(#c23415));
    background: -moz-linear-gradient(top,  #c65114,  #c23415);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c65114', endColorstr='#c23415');
}