

.gray_table  table {
  width:95%;
  border-top:1px solid #e5efe8;
  border-right:1px solid #e5efe8;
  margin:1em auto;
  border-collapse:collapse;
}

.gray_table  td {
  color:#808080;
  border-bottom:1px solid #e5efe8;
  border-left:1px solid #e5efe8;
  padding:.3em 1em;
  text-align:center;
}

.gray_table  tr.purchase_later td {
  color: #606068;
  background:#F3FAF3;
}

.gray_table  thead tr .column1_header {
  border-left:1px solid #e5efe8;
  border-bottom:1px solid #e5efe8;
}

.gray_table  tr.even td,
.gray_table  tr.even .column1 {
  background:#eaeaea;
}
.gray_table  tr.odd td,
.gray_table  tr.odd .column1 {
  background:#f6f6f6;
  background: -moz-linear-gradient(center bottom , #F3F3F3 0%, #FFFFFF 100%) repeat-x scroll center top #FFFFFF;
  background: -webkit-gradient(linear,  top,  bottom, from(#F3F3F3), to(#FFFFFF));
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3F3F3', endColorstr='#FFFFFF');
}

.gray_table  tr.odd.purchase_later td,
.gray_table  tr.odd.purchase_later .column1 {
    /* gray_table tr.odd td, .gray_table tr.odd .column1 */
  background:#E0F8E0;
  background: -moz-linear-gradient(center bottom , #E0F8E0 0%, #FFFFFF 100%) repeat-x scroll center top #FFFFFF;
  background: -webkit-gradient(linear,  top,  bottom, from(#E0F8E0), to(#FFFFFF));
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0F8E0', endColorstr='#FFFFFF');
}

.gray_table  .column1 {
  background:#eaeaea;
}

.gray_table  thead th {
  background:#f9f9f9;
  border-bottom:1px solid #e5efe8;
  text-align:center;
  font:bold 1.2em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
  color:#666666;
}

.gray_table  tfoot td {
  font-size: 1.2em;
  color:red;
}

.gray_table  tfoot th {
  background:#f6f6f6;
  text-align:center;
}
.gray_table  tfoot th strong {
  font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
  margin:.5em .5em .5em 0;
  color:#666666;
}

.gray_table  tfoot th em {
  color:#e0e0e3;
  font-weight: bold;
  font-size: 1.1em;
  font-style: normal;
}
